<ion-view title="Login" ng-controller="AuthenticationCtrl">
  <ion-nav-buttons side="right">
    <button ng-click="login()" ng-disabled="!phone || phone.length === 0" class="button button-clear button-positive">Done</button>
  </ion-nav-buttons>
  <ion-content class="login padding">
    <div class="text-center instructions">
      Sign up
    </div>
    <div class="list">
      <label class="item item-input">
        <input ng-model="email" type="email" placeholder="Your Email">
      </label>
      <label class="item item-input">
        <input ng-model="password" type="password" placeholder="Your password">
      </label>
      <label class="item item-input">
        <input ng-model="password" type="password" placeholder="Confirm password">
      </label>
      <button ng-click="register()" class="button button-balanced activated button-full">Register</button>

      <div class="row">
        <div class="col col-33 col-offset-33 text-center">Or</div>
      </div>
      <div class="row">
        <div class="col col-33 col-offset-33 text-center">
          <a href="/#/login">Login</a>
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
